
.content {
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10%;
    user-select: none;
}

@mixin section {
    overflow: hidden;
    display: flex;
    height: 25em;
    width: 75%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 2%;
    transition: transform 0.5s ease-in-out;
    background: rgba(238, 201, 55, 0.2);
    box-shadow: rgba(255, 200, 60, 0.5) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.about-section {
    @include section;
    height: 40em;
    padding-left: 2%;
}

.section-icon {
    height: auto;
    width: 100%;
    max-height: 300px;
}

.section-text {
    height: auto;
}


.left {
    transform: translateX(-150%);
}

.right {
    transform: translateX(150%);
}

.active-right {
    transform: translateX(10vw);
}

.active-left {
    transform: translateX(15vw);
}

.about-section-left {
    flex-flow: column;
    
    h1 {
        margin-bottom: 3%;
    }
}

.arrow {
    border: solid black;
    border-width: 0 10px 10px 0;
    padding: 6px;
    cursor: pointer;
    z-index: 100;
}

.left-arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.review-section {
    @include section;
    &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        z-index: 2;
        height: 100%;
        width: 35%;
        background-image: linear-gradient(90deg, rgb(220, 210, 168), transparent);
    }

    &::after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        z-index: 2;
        height: 100%;
        width: 35%;
        background-image: linear-gradient(-90deg, rgb(220, 210, 168), transparent);
    }
}

.card-div {
    display: flex;
    position: relative;
    align-items: center;
    gap: 5%;
    overflow: auto;
    width: 75%;
    height: 100%;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}


.review-card {
    min-width: 25em;
    min-height: 20em;
    margin: 1px 10px;
    cursor: pointer;
    overflow:hidden;
    border-radius: 5px;
    background-color:rgba(232, 189, 13, 0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0 0, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center; 
}

.card-text {
    text-align: center;
    font-style: italic;
}

.blank-card {
    min-width: 25em;
    min-height: 20em;
    margin: 1px 10px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;;
    border: solid black 2px;
    background-color: white;
    margin-top: 15%;
}

.best-menu-section {
    @include section;
    overflow:visible;
    margin-bottom: 5%;
}

.best-menu-text-div {
    padding-left: 2%;
    width: 100%;
    h1 {
        margin-bottom: 3%;
    }
}
