
.content {
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10%;
}

@mixin section {
    overflow: hidden;
    display: flex;
    height: 25em;
    width: 75%;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding-left: 2%;
    margin-top: 2%;
    transition: transform 0.5s ease-in-out;
    background: rgba(238, 201, 55, 0.2);
    box-shadow: rgba(255, 200, 60, 0.5) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.about-section {
    @include section;
    height: 40em;
}


.section-icon {
    height: auto;
    width: 100%;
    max-height: 300px;
}

.section-text {
    height: auto;
}

.review-section {
    @include section;
}

.left {
    transform: translateX(-150%);
}

.right {
    transform: translateX(150%);
}

.active-right {
    transform: translateX(10vw);
}

.active-left {
    transform: translateX(15vw);
}

.about-section-left {
    flex-flow: column;

    h1 {
        margin-bottom: 3%;
    }
}

.arrow {
    border: solid black;
    border-width: 0 10px 10px 0;
    padding: 6px;
    cursor: pointer;
}

.left-arrow {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.card-div {
    display: flex;
    width: 75%;
    border: solid red 2px;
}

.review-card {
    width: 35%;
    height: 15em;
    border: solid red 2px;
}
